@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.game-container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
    border-bottom: 10px solid green;
    background-image: linear-gradient(#38b0f5, #fff);
    position: relative;
}

.pikachu {
    position: absolute;
    width: 120px;
    left: 10px;
    bottom: 0px;
    z-index: 4;
    margin: 0;
}

.pokeball {
    position: absolute;
    width: 45px;
    bottom: 15px;
    margin: 0;
    z-index: 5; 
    animation: pokeball-animation 1.5s linear infinite, pokeball-rotation .8s linear infinite;
}

.bush {
    position: absolute;
    width: 250px;
    right: 20px;
    bottom: 0px;
}

.clouds {
    position: absolute;
    width: 350px;
    right: 100px;
    top: 50px;
}

h1 {
    position: absolute;
    margin: 0 auto;
    left: 380px;
    top: 200px;
    font-size: 50px;
    display: none;
}

@keyframes pokeball-animation {
    from {
        right: -150px;
    }

    to {
        right: 100%;
    }
}

@keyframes pokeball-rotation {
    from {
        transform: none;
    }

    to {
        transform: rotate(-360deg);
    }
}